<div>
    <nav class="">
        <ul id="main-menu" data-nav-showing="false">      
        {% assign current = page.url | downcase | split: '/' %}
        <div class="flexbox-parent" style="display: flex; flex-wrap: wrap">
            <li class="about-anc" style="display: inline">
                <a class="nav-underline home {% if page.url == '/' %}current{% endif %}" href="{{site.url}}">Home</a>
            </li>
            <li style="display: inline">
                <a class="nav-underline blog {% if page.url == '/blog/' %}current{% endif %}" href="{{site.url}}/posts">Blog</a>
            </li>
        </div>
        </ul>
    </nav>
</div>

<style>
    nav ul {
        padding-left: 0;
        width: 100%;
        margin: 0;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center; 
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        -ms-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    nav ul div li {
        list-style: none;
        margin: 4vh auto;
    }

</style>